{% comment %}
  Compact KSRI-style renderer: date | degree, department, institution (advisor)
  with an optional Thesis sub-line.
{% endcomment %}

<div class="news">
  <table class="table table-sm table-borderless">
    {% for entry in entries %}
      <tr>
        <th scope="row" style="width: 18%; vertical-align: top; font-weight: 600;">{{ entry.date }}</th>
        <td>
          <strong>{{ entry.studyType }}</strong>, {{ entry.area }}, {{ entry.institution }}{% if entry.advisor %} ({{ entry.advisor }}){% endif %}.
          {% if entry.thesis %}<br><span style="opacity: 0.85;">Thesis: <em>{{ entry.thesis }}</em></span>{% endif %}
        </td>
      </tr>
    {% endfor %}
  </table>
</div>
