{% comment %}
  Compact KSRI-style renderer: date | role, department/center, institution (PI)
  with an optional project/program sub-line.
{% endcomment %}

<div class="news">
  <table class="table table-sm table-borderless">
    {% for entry in entries %}
      <tr>
        <th scope="row" style="width: 18%; vertical-align: top; font-weight: 600;">{{ entry.date }}</th>
        <td>
          <strong>{{ entry.position }}</strong>, {{ entry.area }}, {{ entry.company }}{% if entry.pi %} ({{ entry.pi }}){% endif %}.
          {% if entry.project %}<br><span style="opacity: 0.85;">{{ entry.project }}</span>{% endif %}
        </td>
      </tr>
    {% endfor %}
  </table>
</div>
